<h1>Questions:</h1>

<div class="well">
  <ul>
    {{#each model.questions as |question|}}
    {{question-tile question=question}}
    {{/each}}
  </ul>
  <div class="container">
    {{new-question saveQuestion="saveQuestion"}}
  </div>
</div>
<h3>Your Favorite Questions:</h3>
<div class="well">
  <ul>
    {{favorite-tile}}
  </ul>
</div>
<p>{{#link-to 'about'}}About{{/link-to}}</p>
<p>{{#link-to 'contact'}}Click here to contact us.{{/link-to}}</p>
