<div class="well">
  {{question-detail question=model destroyQuestion="destroyQuestion"}}
  <br>
  {{update-question question=model update='update'}}
</div>

<div class="well">
  <h3>Answers:</h3>
  <ul>
    {{answer-tile question=model }}
  </ul>

  {{new-answer question=model saveAnswer='saveAnswer'}}
</div>
